Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-Mail
Flask-WTF
flask_socketio
flask-cors
Werkzeug
itsdangerous
pyjwt
pytz
requests
python-dotenv
langchain
langchain-openai
langgraph
pydantic
email-validator
python-arango
pytest
waitress
langgraph-checkpoint-sqlite
apsw
llm-sandbox[docker]
flask_swagger_ui
celery
langchain_anthropic
langchain_google_genai
langchain_community